@import "../../../../assets/styles/variables";
@import "~junte-ui/lib/assets/styles/variables";

:host {
  display: block;
  width: 250px;
}

[form] {
  padding: $gutter-normal;
  border-radius: $corner-small;
  background-color: $primary-color-light;
  min-width: 250px;
  width: 250px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color .3s;
  outline: 0;
}
