<jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.stack.gutter.tiny" [justify]="ui.flex.justify.between"
           [align]="ui.flex.align.center">
  <jnt-form [formGroup]="listForm">
    <input #control formControlName="title" input
           (blur)="!list.title ? titleControl.patchValue(title) : title = list.title">
  </jnt-form>
  <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between" [gutter]="ui.stack.gutter.tiny"
             *ngIf="tickets.length > 1">
    <jnt-button [icon]="ui.icons.font.arrowLeft"
                [outline]="ui.outline.ghost"
                [size]="ui.sizes.tiny"
                [scheme]="ui.schemes.secondary"
                up (click)="tickets.sort(compareUp)">
    </jnt-button>
    <jnt-button [icon]="ui.icons.font.arrowLeft"
                [outline]="ui.outline.ghost"
                [size]="ui.sizes.tiny"
                [scheme]="ui.schemes.secondary"
                down (click)="tickets.sort(compareDown)">
    </jnt-button>
  </jnt-stack>
</jnt-stack>

<jnt-stack [align]="ui.flex.align.stretch" *ngIf="!!list"
           tickets
           cdkDropList
           [cdkDropListData]="tickets"
           (cdkDropListDropped)="droppedTicket($event)">
  <ng-container *ngIf="tickets.length; else skeleton">
    <app-ticket *ngFor="let ticket of tickets; trackBy: track" [ticket]="ticket" cdkDrag></app-ticket>
  </ng-container>
  <app-add-ticket (added)="load()" [list]="list" [tickets]="tickets" [loading]="loading"></app-add-ticket>
</jnt-stack>

<ng-template #skeleton>
  <ng-container *ngIf="!tickets.length && loading">
    <jnt-skeleton [lines]="4"></jnt-skeleton>
  </ng-container>
</ng-template>

<div spin *ngIf="tickets.length && loading">
  <jnt-spinner></jnt-spinner>
</div>
