@import "../../../assets/styles/variables";
@import "../../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: inline-flex;
  flex-direction: column;
  border-radius: $corner-small;
  background-color: $primary-color-light-70;
  padding: $gutter-normal;
  min-width: 250px;
  width: 250px;
  box-sizing: border-box;
  transition: background-color .3s;
  outline: 0;
  position: relative;
}

[form] {
  flex: 1;
}

input {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: $corner-small;
  width: 100%;
  cursor: pointer;
  min-height: 28px;
  &:focus {
    border-color: $fail-color;
    outline: 0;
  }
}

[stack] {
  position: relative;
  [overlay] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    justify-content: flex-end;
    align-items: center;
  }
}

[up] {
  ::ng-deep jnt-icon[host=#{$jnt-icon-host}] {
    transform: rotate(90deg);
  }
}

[down] {
  ::ng-deep jnt-icon[host=#{$jnt-icon-host}] {
    transform: rotate(-90deg);
  }
}

[tickets] {
  min-height: $gutter-normal;
  padding-bottom: $gutter-big;
  padding-top: $gutter-normal;
  &:empty {
    margin: 0;
  }
}

[spin] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

[nodata] {
  color: $gray-color-800;
  position: absolute;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: .5;
}
