@import "../../../assets/styles/variables";
@import "../../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: inline-flex;
  flex-direction: column;
  border-radius: $corner-small;
  background-color: $primary-color-light-70;
  padding: $gutter-normal;
  min-width: 250px;
  width: 250px;
  box-sizing: border-box;
  transition: background-color .3s;
  outline: 0;
}

[input] {
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: $corner-small;
  width: 100%;
  cursor: pointer;
  min-height: 28px;
  &:focus {
    border-color: $red;
    outline: 0;
  }
}

[up] {
  ::ng-deep jnt-icon[host=#{$jnt-icon-host}] {
    transform: rotate(90deg);
  }
}

[down] {
  ::ng-deep jnt-icon[host=#{$jnt-icon-host}] {
    transform: rotate(-90deg);
  }
}

[tickets] {
  min-height: $gutter-normal;
  margin-top: $gutter-normal;
  &:empty {
    margin: 0;
  }
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

