<jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.gutter.tiny" [justify]="ui.flex.justify.between"
           [align]="ui.flex.align.center">
  <jnt-form [formGroup]="listForm" form>
    <div stack>
      <input #titleControl
             formControlName="title"
             (blur)="edit()"
             (keyup.enter)="edit(); titleControl.blur()">
      <div [style.display]="progress.editing ? 'flex' : 'none'" spin>
        <jnt-spinner [size]="ui.sizes.small"></jnt-spinner>
      </div>
    </div>
  </jnt-form>
  <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between" [gutter]="ui.gutter.tiny">
    <jnt-button [icon]="ui.icons.delete"
                [outline]="ui.outline.ghost"
                [size]="ui.sizes.tiny"
                [scheme]="ui.schemes.fail"
                [loading]="progress.deleting"
                (click)="confirm()">
    </jnt-button>
  </jnt-stack>
</jnt-stack>

<jnt-stack [align]="ui.flex.align.stretch" *ngIf="!!list"
           tickets
           [id]="'list_' + list.id"
           [cdkDropListConnectedTo]="connections"
           cdkDropList
           [cdkDropListData]="tickets"
           (cdkDropListDropped)="droppedTicket($event)">
  <ng-container *ngIf="tickets.length; else nodata">
    <app-ticket *ngFor="let ticket of tickets; trackBy: track" [ticket]="ticket" cdkDrag
                (deleted)="load()"></app-ticket>
  </ng-container>
</jnt-stack>

<app-add-ticket (added)="load()" [list]="list" [tickets]="tickets"></app-add-ticket>

<ng-template #nodata>
  <span *ngIf="!progress.tickets; else loadingTemplate" nodata>No tickets</span>
</ng-template>

<ng-template #loadingTemplate>
  <ng-container *ngIf="!tickets.length && progress.tickets">
    <jnt-skeleton [lines]="4"></jnt-skeleton>
  </ng-container>
</ng-template>

<div spin *ngIf="tickets.length && progress.tickets">
  <jnt-spinner [size]="ui.sizes.large"></jnt-spinner>
</div>
