@import "../../../assets/styles/variables";
@import "../../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: flex;
}

[block] {
  min-width: 200px;
  border: 1px solid $muted-color;
  box-sizing: border-box;
}

[spin] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-color-light;
}
