<h3>Kanbans</h3>

<jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.stretch">

  <ng-container *ngIf="!!kanbans.length; else nodata">
     <app-preview-kanban *ngFor="let kanban of kanbans" [kanban]="kanban" (deleted)="load()" (saved)="load()"></app-preview-kanban>
  </ng-container>

  <app-add-kanban [kanban]="kanban" (saved)="load()"></app-add-kanban>

</jnt-stack>

<ng-template #nodata>
  <span *ngIf="!loading; else loadingTemplate">No kanbans</span>
</ng-template>

<ng-template #loadingTemplate>
  <div *ngFor="let i of 3 | mockArray">
    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.small" block>
      <jnt-skeleton [lines]="5"></jnt-skeleton>
    </jnt-block>
  </div>
</ng-template>

<div spin *ngIf="kanbans.length && loading">
  <jnt-spinner [size]="ui.sizes.large"></jnt-spinner>
</div>
