@import "../../../assets/styles/variables";
@import "../../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: flex;
}

[preview] {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  padding: $gutter-normal $gutter-normal 0 $gutter-normal;
  width: 200px;
  height: 200px;
  border: 1px solid $muted-color;
  margin-bottom: $gutter-large;
  background-color: $primary-background;
  color: $primary-color-light;
  &[new] {
    align-items: center;
    font-size: 50px;
    cursor: pointer;
  }
  span {
    display: block;
    width: 100%;
    text-align: center;
    padding: $gutter-normal 0;
    border-top: 1px solid $muted-color;
    text-decoration: none;
  }
  &:hover {
    [overlay] {
      opacity: 1;
      z-index: 1;
    }
  }
  [overlay] {
    color: $white-color;
    text-decoration: none;
    font-size: $font-size-large;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    z-index: -1;
    transition: all .5s;
  }
}

[block] {
  min-width: 200px;
  height: 200px;
  border: 1px solid $muted-color;
}

[spin] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}
