<jnt-stack cdkDropListGroup [type]="ui.stack.type.horizontal">
  <ng-container *ngIf="!!lists.length; else loadingTemplate">
    <app-list *ngFor="let list of lists; trackBy: track" [list]="list"></app-list>
  </ng-container>
  <app-add-list (added)="load()" [list]="list"></app-add-list>
</jnt-stack>

<ng-template #nodata>
  No tickets
</ng-template>

<ng-template #loadingTemplate>
  <div *ngFor="let i of 3 | mockArray">
    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.normal" block>
      <jnt-skeleton [lines]="4"></jnt-skeleton>
    </jnt-block>
  </div>
</ng-template>

<div spin *ngIf="lists.length && loading">
  <jnt-spinner></jnt-spinner>
</div>
