@import "../../../assets/styles/variables";
@import "../../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: block;
}

[block] {
  min-width: 250px;
  background-color: $primary-color-light-70;
}
