<jnt-stack [type]="ui.stack.type.horizontal"
           cdkDropList
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="dropped($event)">
  <ng-container *ngIf="!!lists.length; else nodata">
    <app-list *ngFor="let list of lists; trackBy: track"
              [list]="list" [connections]="connections"
              (deleted)="load()"
              cdkDrag>
    </app-list>
  </ng-container>
  <app-add-list (added)="load()" [list]="list" [kanban]="kanban"></app-add-list>
</jnt-stack>

<ng-template #nodata>
  <span *ngIf="!loading; else loadingTemplate">No lists</span>
</ng-template>

<ng-template #loadingTemplate>
  <div *ngFor="let i of 3 | mockArray">
    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.normal" block>
      <jnt-skeleton [lines]="4"></jnt-skeleton>
    </jnt-block>
  </div>
</ng-template>

<div spin *ngIf="lists.length && loading">
  <jnt-spinner [size]="ui.sizes.large"></jnt-spinner>
</div>
