@import "../../../../assets/styles/variables";
@import "../../../../../node_modules/junte-ui/lib/assets/styles/variables";

:host {
  display: block;
}

[fields] {
  position: relative;
}

[load] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -($gutter-normal);
  background-color: rgba($gray-500, .8);
}
