<jnt-form [layout]="ui.form.layout.horizontal" [formGroup]="editForm" (submitted)="edit()" jntValidation>

  <jnt-form-item>
    <jnt-col [span]="3">
      <jnt-form-label for="title">Title</jnt-form-label>
    </jnt-col>
    <jnt-col [span]="9">
      <jnt-form-control name="title">
        <jnt-input formControlName="title" placeholder="Title"></jnt-input>
        <jnt-form-message [type]="ui.form.validators.typeError.required">
          This field is required
        </jnt-form-message>
      </jnt-form-control>
    </jnt-col>
  </jnt-form-item>

  <jnt-form-item>
    <jnt-col [span]="3">
      <jnt-form-label for="estimate">Estimate</jnt-form-label>
    </jnt-col>
    <jnt-col [span]="9">
      <jnt-form-control name="estimate">
        <jnt-input formControlName="estimate" placeholder="time(1h 30m | -1h 30m)"></jnt-input>
      </jnt-form-control>
    </jnt-col>
  </jnt-form-item>

  <jnt-form-item>
    <jnt-col [span]="3">
      <jnt-form-label for="dueDate">dueDate</jnt-form-label>
    </jnt-col>
    <jnt-col [span]="9">
      <jnt-form-control name="dueDate">
        <jnt-input formControlName="dueDate" placeholder="dueDate"></jnt-input>
      </jnt-form-control>
    </jnt-col>
  </jnt-form-item>

  <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.center">
    <jnt-button text="OK" [type]="ui.form.button.type.submit"></jnt-button>
    <jnt-button text="Cancel" (click)="close()"></jnt-button>
  </jnt-stack>


</jnt-form>
