<jnt-modal #modal [backdrop]="backdrop"></jnt-modal>
<jnt-popover #popover></jnt-popover>
<jnt-app-layout #layout>
  <jnt-app-header>
    <ng-template #logo>
      <span logo>Trello</span>
    </ng-template>
    <ng-template #topMenu>
      <jnt-menu>
        <jnt-menu-item [link]="['/home']" [matching]="ui.url.matching.wildcard" title="Home" [icon]="ui.icons.font.home"></jnt-menu-item>
        <jnt-menu-item [link]="['/kanbans']" [matching]="ui.url.matching.wildcard" title="Board" [icon]="ui.icons.font.dashboard"></jnt-menu-item>
      </jnt-menu>
    </ng-template>
    <ng-template #userbar>
      <jnt-userbar>
        <ng-template #avatar>
          <jnt-avatar [size]="ui.sizes.small" [text]="JS"></jnt-avatar>
        </ng-template>
        <ng-template #userMenu>
          <jnt-menu [type]="ui.type.vertical" [spacer]="ui.sizes.small">
            <jnt-menu-item [link]="['/logout']" title="Logout"></jnt-menu-item>
            <jnt-menu-item [link]="['/profile']" title="Profile"></jnt-menu-item>
            <jnt-menu-item [link]="['/settings']" title="Settings"></jnt-menu-item>
          </jnt-menu>
        </ng-template>
      </jnt-userbar>
    </ng-template>
  </jnt-app-header>
  <jnt-app-content>
    <jnt-app-sub-header>
      <jnt-breadcrumb></jnt-breadcrumb>
    </jnt-app-sub-header>
    <jnt-app-body>
      <jnt-container [width]="ui.width.fluid">
        <router-outlet></router-outlet>
      </jnt-container>
    </jnt-app-body>
  </jnt-app-content>
</jnt-app-layout>

