<jnt-stack cdkDropListGroup [type]="ui.stack.type.horizontal">
  <app-list *ngFor="let list of lists" [title]="list.title" [list]="list"></app-list>

  <jnt-button *ngIf="listmode == mode.view; else editList"
              text="Add list"
              [icon]="ui.icons.font.plus"
              [width]="ui.width.fluid"
              (click)="listmode = mode.edit" add>
  </jnt-button>

  <ng-template #editList>
    <jnt-form [formGroup]="listForm" (submitted)="addList()" form>
      <jnt-stack>
        <jnt-input formControlName="title" placeholder="List title"></jnt-input>
        <jnt-stack [type]="ui.stack.type.horizontal">
          <jnt-button [icon]="ui.icons.font.plus"
                      [type]="ui.form.button.type.submit"
                      text="Add list">
          </jnt-button>
          <jnt-button [outline]="ui.outline.transparent"
                      [icon]="ui.icons.font.close"
                      [scheme]="ui.schemes.secondary"
                      (click)="listmode = mode.view; this.listForm.reset()">
          </jnt-button>
        </jnt-stack>
      </jnt-stack>
    </jnt-form>
  </ng-template>

</jnt-stack>
