<jnt-stack cdkDropListGroup [type]="ui.stack.type.horizontal">
  <app-list *ngFor="let list of lists" [title]="list.title">
    <ng-template #actionsList *ngIf="list.tickets.length > 1">
      <jnt-button [icon]="ui.icons.font.arrowLeft"
                  [outline]="ui.outline.ghost"
                  [size]="ui.sizes.tiny"
                  [scheme]="ui.schemes.secondary"
                  up
                  (click)="list.tickets.sort(compareUp)">
      </jnt-button>
      <jnt-button [icon]="ui.icons.font.arrowLeft"
                  [outline]="ui.outline.ghost"
                  [size]="ui.sizes.tiny"
                  [scheme]="ui.schemes.secondary"
                  down
                  (click)="list.tickets.sort(compareDown)">
      </jnt-button>
    </ng-template>
    <jnt-stack [align]="ui.flex.align.stretch"
               tickets
                cdkDropList
               [cdkDropListData]="list.tickets"
               (cdkDropListDropped)="droppedTicket($event, list.id)">
      <app-ticket *ngFor="let ticket of list.tickets" [content]="ticket.content" cdkDrag #currentTicket>
        <ng-template #actionsTicket>
          <jnt-button [size]="ui.sizes.tiny" [icon]="ui.icons.font.edit" [outline]="ui.outline.transparent" (click)="openModal()"></jnt-button>
        </ng-template>
      </app-ticket>
      <ng-template #contentModal>
        <jnt-form [formGroup]="modalForm" (submitted)="updateTicket(list.tickets[ticket.id])">
          <jnt-input formControlName="estimate" placeholder="Estimate"></jnt-input>
          <jnt-button text="Ok" [type]="ui.form.button.type.submit"></jnt-button>
        </jnt-form>
      </ng-template>

      <ng-template #footer>
        <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.center" footerModal>
          <jnt-button text="Cancel"></jnt-button>
        </jnt-stack>
      </ng-template>
    </jnt-stack>
    <jnt-button *ngIf="list.mode == mode.view; else editTicket"
                text="Add ticket"
                [width]="ui.width.fluid"
                [icon]="ui.icons.font.plus"
                [size]="ui.sizes.small"
                [scheme]="ui.schemes.secondary"
                (click)="list.mode = mode.edit"></jnt-button>

    <ng-template #editTicket>
      <jnt-form [formGroup]="ticketForm" (submitted)="addTicket(list.id)">
        <jnt-stack>
          <jnt-input formControlName="content" placeholder="Ticket content"></jnt-input>
          <jnt-stack [type]="ui.stack.type.horizontal">
            <jnt-button [icon]="ui.icons.font.plus"
                        [type]="ui.form.button.type.submit"
                        text="Add ticket">
            </jnt-button>
            <jnt-button [outline]="ui.outline.transparent"
                        [icon]="ui.icons.font.close"
                        [scheme]="ui.schemes.secondary"
                        (click)="list.mode = mode.view; this.ticketForm.reset()">
            </jnt-button>
          </jnt-stack>
        </jnt-stack>
      </jnt-form>
    </ng-template>
  </app-list>

  <jnt-button *ngIf="listmode == mode.view; else editList"
              text="Add list"
              [icon]="ui.icons.font.plus"
              [width]="ui.width.fluid"
              (click)="listmode = mode.edit" add>
  </jnt-button>

  <ng-template #editList>
    <jnt-form [formGroup]="listForm" (submitted)="addList()" form>
      <jnt-stack>
        <jnt-input formControlName="title" placeholder="List title"></jnt-input>
        <jnt-stack [type]="ui.stack.type.horizontal">
          <jnt-button [icon]="ui.icons.font.plus"
                      [type]="ui.form.button.type.submit"
                      text="Add list">
          </jnt-button>
          <jnt-button [outline]="ui.outline.transparent"
                      [icon]="ui.icons.font.close"
                      [scheme]="ui.schemes.secondary"
                      (click)="listmode = mode.view; this.listForm.reset()">
          </jnt-button>
        </jnt-stack>
      </jnt-stack>
    </jnt-form>
  </ng-template>

</jnt-stack>
