<jnt-block *ngIf="!!ticket" [padding]="ui.padding.small" [width]="ui.width.fluid">
  <jnt-stack [gutter]="ui.gutter.small" [align]="ui.flex.align.stretch">
    <jnt-stack [type]="ui.stack.type.horizontal" [justify]="ui.flex.justify.between" [wrap]="ui.flex.wrap.noWrap">
      <jnt-link [title]="ticket.title" [source]="['tickets', ticket.id]"></jnt-link>

      <jnt-dropdown>
        <ng-template #trigger let-action="trigger">
          <jnt-button [size]="ui.sizes.tiny"
                      [outline]="ui.outline.transparent"
                      [icon]="ui.icons.actions"
                      [loading]="loading"
                      (click)="action()">
          </jnt-button>
        </ng-template>
        <ng-template #dropdown let-action="trigger">
          <jnt-menu [type]="ui.type.vertical" [spacer]="ui.sizes.small">
            <jnt-menu-item title="Edit" [icon]="ui.icons.edit" (click)="openModal()"></jnt-menu-item>
            <jnt-menu-item title="Delete" [icon]="ui.icons.delete" (click)="confirm()"></jnt-menu-item>
          </jnt-menu>
        </ng-template>
      </jnt-dropdown>
    </jnt-stack>

    <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.gutter.tiny">
      <jnt-label *ngFor="let label of ticket.labels" [label]="label" [color]="ui.colors.greenDark"></jnt-label>
    </jnt-stack>

    <jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.center">
      <div *ngIf="ticket.dueDate" dueDate>
        <jnt-icon [icon]="ui.icons.font.calendar"></jnt-icon>
        {{ticket.dueDate | date: 'd MMM'}}
      </div>
      <div *ngIf="ticket.estimate" estimate>
        <jnt-icon [icon]="ui.icons.font.time"></jnt-icon>
        {{ticket.estimate}}
      </div>
    </jnt-stack>

  </jnt-stack>

</jnt-block>

