@import "../../../../assets/styles/variables";
@import "~junte-ui/lib/assets/styles/variables";

:host {
  display: block;
  padding: $gutter-normal $gutter-normal 0 $gutter-normal;
  border: 1px solid $muted-color;
  margin-bottom: $gutter-large;
  background-color: $primary-background;
  color: $primary-color-light;
  cursor: pointer;
  transition: all .5s;
  position: relative;
  &:hover {
    border-color: $primary-color-light;
    [top] [action] {
      opacity: 1;
      z-index: 1;
    }
  }
}

[top] {
  position: relative;
  width: 200px;
  height: 160px;
  margin: -$gutter-normal;
  margin-bottom: 0;
  [action] {
    color: $white-color;
    text-decoration: none;
    font-size: $font-size-large;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($primary-color-light, .3);
    opacity: 0;
    z-index: -1;
    transition: all .5s;
  }
}
[title] {
  display: block;
  width: 100%;
  text-align: center;
  padding: $gutter-normal 0;
  border-top: 1px solid $muted-color;
  text-decoration: none;
}

[overlay] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
}
